.orange {
    background-color: white;
    background-image: linear-gradient(white, rgb(227, 190, 121));
}

.blue {
    background-color: white;
    background-image: linear-gradient(white, #0E86D4);
    color: white;
}