/* You can add global styles to this file, and also import other style files */
.home {
    background: #dddddd;
    height: calc(100vh);
}

.container {
    max-width: 1300px !important;
}

button {
    border-radius: 5px !important;
}

.float-right {
    text-align: right;
}

.form-group {
    margin-bottom: 6px;
}